config wifi-probe 'main'
	option enabled '1'
	option interface 'mon0'
	option channel '11'
	option anonymize_mac '1'
	option mac_salt ''
	option session_gap '300'
	option rssi_near '-55'
	option rssi_mid '-65'
	option retention_days '30'
	option db_path '/var/lib/wifi-probe'
	option capture_filter 'all'
	option verbose '0'
